# SSH
site-cookbooks/app-deploy/files/default
site-cookbooks/app-nodejs/files/default
/cookbooks/
*data_bags/

# Keys
encrypted_data_bag_secret

# Kitchen
.kitchen/
.kitchen.yml
kitchen.yml

# Chef
*.pem
.chef/pivotal.rb
.chef/syntaxcache/
.chef/trusted_certs/

# Apple
.DS_Store
